absl-py
agno
aiofiles
aiohttp
aiosqlite
alphashape
anyio
arxiv
backoff
baidusearch
bcrypt
beautifulsoup4
build
chromadb
cohere
coloredlogs
Crawl4AI
datasets
ddgs
debugpy
deep-translator
duckduckgo_search
durationpy
faiss-cpu
fake-useragent
fastapi
feedfinder2
feedparser
gcloud
GitPython
google-genai
google-maps-places
googlemaps
googlesearch-python
gptcache
groq
httpx
httpx-sse
huggingface-hub
humanize
ipykernel
ipython
jieba3k
keras
kubernetes
langchain
langchain-cohere
langchain-community
langchain-experimental
langchain-google-genai
langchain-groq
langgraph
langchain-text-splitters
litellm
lxml
matplotlib
newspaper4k
nltk
numba
numpy
openai
opencv-python
pandas
patchright
playwright
posthog
primp
PyMuPDF
pypdf
python-dotenv
python-multipart
rank-bm25
requests-file
requests-oauthlib
rich
scikit-learn
seaborn
selenium
transformers==4.55.2
sentence-transformers==5.1.0
tavily-python
tensorboard
tensorflow==2.19.1
tf-keras
tf-playwright-stealth
tiktoken
timm
torch
torchvision
trimesh
typer
ultralytics
uvicorn
watchfiles
wikipedia
xgboost
yfinance
pycountry
peft
reportlab
imagekitio